<div th:replace="~{fragments/headers}"></div>

<!-- ====== Main ====== -->
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Cadastro de Profissionais</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item active">Profissionais</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section ">
        <div class="card">
            <div class="card-body pt-4">

                <!-- Custom Styled Validation -->
                <form class="row g-3 needs-validation" novalidate method="POST" th:action="@{/employee}"
                    th:object="${employee}">
                    <input type="hidden" th:field="*{id}">
                    <div class="col-md-4">
                        <label class="form-label">Nome do Profissional</label>
                        <input type="text" class="form-control" required th:field="*{person.name}"
                            th:classappend="${#fields.hasErrors('person.name')}? 'is-invalid'">
                        <div class="text-danger" th:if="${#fields.hasErrors('person.name')}" th:errors="*{person.name}">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="hidden" th:field="*{person.contact.id}">

                        <label class="form-label">Telefone</label>
                        <input type="number" class="form-control" required th:field="*{person.contact.phone}">
                        <div class="text-danger" th:if="${#fields.hasErrors('person.contact.phone')}"
                            th:errors="*{person.contact.phone}"></div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" required th:field="*{person.contact.id}">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Data de Aniversario</label>
                        <input type="date" class="form-control" th:field="*{person.birthday}">
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="col-md-2">
                        <input type="hidden" th:field="*{person.address.id}">

                        <label class="form-label">CEP</label>
                        <input type="text" class="form-control" required th:field="*{person.address.cep}">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Rua</label>
                        <input type="text" class="form-control" th:field="*{person.address.road}">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Bairro</label>
                        <input type="text" class="form-control" th:field="*{person.address.district}">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Estado</label>
                        <input type="text" class="form-control" th:field="*{person.address.state}">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Nº</label>
                        <input type="text" class="form-control" required th:field="*{person.address.number}">
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="col-md-2">
                        <label class="form-label">Status</label>
                        <select class="form-select" required th:field='*{status}'>
                            <option th:each="s : ${employeeStatus}" th:value="${s}" th:text="${s.getStatus}">Ativo
                            </option>
                        </select>

                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Entrada</label>
                        <input type="time" class="form-control" required>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Almoço</label>
                        <input type="time" class="form-control" required>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Saida</label>
                        <input type="time" class="form-control" required>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Serviços</label>
                        <div class="list-group">
                            <label class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="">
                                First checkbox
                            </label>
                            <label class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="">
                                Second checkbox
                            </label>
                        </div>

                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Salvar</button>
                    </div>
                </form><!-- End Custom Styled Validation -->

            </div>
        </div>
    </section>

</main><!-- End #main -->

<div th:replace="~{fragments/footers}"></div>