<div th:replace="~{fragments/headers}"></div>

<!-- ====== Main ====== -->
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Cadastro de Loja</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item active">Loja</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section ">
        <div class="card">
            <div class="card-body pt-4">

                <!-- Custom Styled Validation -->
                <form class="row g-3 needs-validation" novalidate method="POST" th:action="@{/store}"
                    th:object="${store}">
                    <input type="hidden" th:field="*{id}">
                    <div class="col-md-5">
                        <label class="form-label">Nome da Empresa</label>
                        <input type="text" class="form-control" required th:field="*{name}"
                            th:classappend="${#fields.hasErrors('name')}? 'is-invalid'">
                        <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    </div>
                    <div class="col-md-2">
                        <input type="hidden" th:field="*{contact.id}">

                        <label class="form-label">Telefone</label>
                        <input type="number" class="form-control" required th:field="*{contact.phone}"
                            th:classappend="${#fields.hasErrors('contact.phone')}? 'is-invalid'">
                        <div class="text-danger" th:if="${#fields.hasErrors('contact.phone')}"
                            th:errors="*{contact.phone}"></div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" required th:field="*{contact.email}"
                            th:classappend="${#fields.hasErrors('contact.email')}? 'is-invalid'">
                        <div class="text-danger" th:if="${#fields.hasErrors('contact.email')}"
                            th:errors="*{contact.email}"></div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Senha</label>
                        <input type="password" class="form-control" required th:field="*{password}"
                            th:classappend="${#fields.hasErrors('password')}? 'is-invalid'">
                        <div class="text-danger" th:if="${#fields.hasErrors('password')}"
                            th:errors="*{password}"></div>
                    </div>

                    <div class="col-md-2">
                        <input type="hidden" th:field="*{address.id}">

                        <label class="form-label">CEP</label>
                        <input type="text" class="form-control" required th:field="*{address.cep}">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Rua</label>
                        <input type="text" class="form-control" required th:field="*{address.road}"
                            th:classappend="${#fields.hasErrors('address.road')}? 'is-invalid'">
                        <div class="text-danger" th:if="${#fields.hasErrors('address.road')}"
                            th:errors="*{address.road}"></div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Bairro</label>
                        <input type="text" class="form-control" required th:field="*{address.district}"
                            th:classappend="${#fields.hasErrors('address.district')}? 'is-invalid'">
                        <div class="text-danger" th:if="${#fields.hasErrors('address.district')}"
                            th:errors="*{address.district}"></div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Estado</label>
                        <input type="text" class="form-control" required th:field="*{address.state}"
                            th:classappend="${#fields.hasErrors('address.state')}? 'is-invalid'">
                        <div class="text-danger" th:if="${#fields.hasErrors('address.state')}"
                            th:errors="*{address.state}"></div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Nº</label>
                        <input type="text" class="form-control" required th:field="*{address.number}">
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="col-md-2">
                        <label class="form-label">tema</label>
                        <select class="form-select" th:field='*{theme}'>
                            <option th:each="t : ${themes}" th:value="${t}" th:text="${t.getDesc}">Barber</option>
                        </select>

                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-md-5">
                        <label class="form-label">Logo</label>
                        <input type="file" class="form-control">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-md-5">
                        <label class="form-label">Slogan</label>
                        <input type="text" class="form-control" required th:field="*{slogan}">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Salvar</button>
                    </div>
                </form><!-- End Custom Styled Validation -->

            </div>
        </div>
    </section>

</main><!-- End #main -->
<div th:replace="~{fragments/footers}"></div>