<div th:replace="~{fragments/headers}"></div>

<!-- ====== Main ====== -->
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Cadastro de Serviço</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item active">Serviço</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section ">
        <div class="card">
            <div class="card-body pt-4">

                <!-- Custom Styled Validation -->
                <form class="row g-3 needs-validation" novalidate method="POST" th:action="@{/work}"
                      th:object="${work}">
                    <input type="hidden" th:field="*{id}">
                    <div class="col-md-6">
                        <label class="form-label">Nome do Serviço</label>
                        <input type="text" class="form-control" required
                               th:field="*{name}" th:classappend="${#fields.hasErrors('name')}? 'is-invalid'">
                        <div class="text-danger"  th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Preço</label>
                        <input type="number" class="form-control" required
                               th:field="*{price}" th:classappend="${#fields.hasErrors('price')}? 'is-invalid'">
                        <div class="text-danger"  th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Duração</label>
                        <input type="text" class="form-control" required
                               th:field="*{duration}" th:classappend="${#fields.hasErrors('duration')}? 'is-invalid'">
                        <div class="text-danger"  th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Salvar</button>
                    </div>
             
                </form><!-- End Custom Styled Validation -->

            </div>
        </div>
    </section>

</main><!-- End #main -->
<div th:replace="~{fragments/footers}"></div> 