<aside id="sidebarClient" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" th:href="${'/scheduling-app/scheduling?id=' + client.id}">
                <i class="bi bi-clock-history"></i>
                <span>Agendamento</span>
            </a>
            <a class="nav-link collapsed" th:href="${'/scheduling-app/schedule?id=' + client.id}">
                <i class="bi bi-clock-history"></i>
                <span>Novo agendamento</span>
            </a>
        </li>
    </ul>
</aside>