<div th:replace="~{fragments/headers}"></div>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Cadastro de Clientes</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item active">Clientes</li>
            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="card">
            <div class="card-body pt-4">
                <form class="row g-3 needs-validation" novalidate method="POST" th:action="@{/client}"
                      th:object="${client}">
                    <input type="hidden" th:field="*{id}">

                    <div class="col-md-5">
                        <label class="form-label">Nome</label>
                        <input type="text" class="form-control" required th:field="*{name}"
                               th:classappend="${#fields.hasErrors('name')}? 'is-invalid'">
                        <div class="text-danger" th:if="${#fields.hasErrors('name')}"
                             th:errors="*{name}"></div>
                    </div>
                    <div class="col-md-2">
                        <input type="hidden" th:field="*{contact.id}">

                        <label class="form-label">Telefone</label>
                        <input type="number" class="form-control" required
                               th:field="*{contact.phone}"
                               th:classappend="${#fields.hasErrors('contact.phone')}? 'is-invalid'">
                        <div class="text-danger" th:if="${#fields.hasErrors('contact.phone')}"
                             th:errors="*{contact.phone}"></div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" required
                               th:field="*{email}">
                    </div>
                    <div class="col-md-2">
                        <label for="yourPassword" class="form-label">Senha</label>
                        <input type="password" name="password" class="form-control"
                               id="yourPassword" required  th:field="*{password}">
                    </div>

                    <div class="col-md-2">
                        <input type="hidden" th:field="*{address.id}">

                        <label class="form-label">CEP</label>
                        <input type="text" id="cep" class="form-control" required
                               th:field="*{address.cep}">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Rua</label>
                        <input type="text" id="rua" class="form-control" required
                               th:field="*{address.road}">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Bairro</label>
                        <input type="text" id="bairro" class="form-control" required
                               th:field="*{address.district}">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Estado</label>
                        <input type="text" id="uf" class="form-control" required
                               th:field="*{address.state}">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="col-md-2">
                        <label class="form-label">Nº</label>
                        <input type="text" id="numero" class="form-control" required
                               th:field="*{address.number}">
                        <div class="invalid-feedback"></div>
                    </div>

                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-primary" type="submit">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>


</main>

<div th:replace="~{fragments/footers}"></div>