<ul class="pagination pagination-sm justify-content-end pagee" th:fragment="p(page, route)">
    <li class="page-item" th:classappend="${page.first} ? 'disabled' : '' ">
        <a class="page-link" th:href="${route + '?page=0'}"><<</a>
    </li>
    <li class="page-item" th:classappend="${page.first} ? 'disabled' : '' ">
        <a class="page-link" th:href="${route + '?page=' + (page.number - 1)}" th:text="${page.number}">1</a>
    </li>
    <li class="page-item active" aria-current="page">
        <a class="page-link" th:text="${page.number + 1}">2</a>
    </li>
    <li class="page-item" th:classappend="${page.last} ? 'disabled' : '' ">
        <a class="page-link" th:href="${route + '?page=' + (page.number + 1)}" th:text="${page.number + 2}">3</a>
    </li>
    <li class="page-item" th:classappend="${page.last} ? 'disabled' : '' ">
        <a class="page-link" th:href="${route + '?page=' + (page.totalPages - 1)}">>></a>
    </li>
</ul>