<div th:replace="~{fragments/headers}"></div>

<!-- ====== Main ====== -->
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Cadastro de Serviço</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/main?id=3">Inicio</a></li>
                <li class="breadcrumb-item active">Serviço</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section ">
        <div class="card">
            <div class="card-body pt-4">

                <!-- Custom Styled Validation -->
                <form class="row g-3 needs-validation" novalidate method="POST" th:action="${'/work?storeId=2'}"
                    th:object="${work}">
                    <input type="hidden" th:field="*{id}">
                    <div class="col-md-6">
                        <label class="form-label">Nome do Serviço</label>
                        <input type="text" class="form-control" required th:field="*{name}"
                            th:classappend="${#fields.hasErrors('name')}? 'is-invalid'">
                        <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Preço de Venda</label>
                        <input type="text" class="form-control money" required th:field="*{salePrice}"
                            th:classappend="${#fields.hasErrors('salePrice')}? 'is-invalid'">
                        <div class="text-danger" th:if="${#fields.hasErrors('salePrice')}" th:errors="*{salePrice}">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Preço de Custo</label>
                        <input type="text" class="form-control money" required th:field="*{costPrice}"
                            th:classappend="${#fields.hasErrors('costPrice')}? 'is-invalid'">
                        <div class="text-danger" th:if="${#fields.hasErrors('costPrice')}" th:errors="*{costPrice}">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Tempo Inicial</label>
                        <input type="text" class="form-control time" required placeholder="em minutos"
                            th:field="*{timeStart}" th:classappend="${#fields.hasErrors('timeStart')}? 'is-invalid'">
                        <div class="text-danger" th:if="${#fields.hasErrors('timeStart')}" th:errors="*{timeStart}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Intervalo</label>
                        <input type="text" class="form-control time" placeholder="em minutos" th:field="*{timeInterval}"
                            th:classappend="${#fields.hasErrors('timeInterval')}? 'is-invalid'">
                        <div class="text-danger" th:if="${#fields.hasErrors('timeInterval')}"
                            th:errors="*{timeInterval}"></div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Tempo Final</label>
                        <input type="text" class="form-control time" placeholder="em minutos" th:field="*{timeFinish}"
                            th:classappend="${#fields.hasErrors('timeFinish')}? 'is-invalid'">
                        <div class="text-danger" th:if="${#fields.hasErrors('timeFinish')}" th:errors="*{timeFinish}">
                        </div>
                    </div>

                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-primary" type="submit">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<div th:replace="~{fragments/footers}"></div>

<script>
    $(() => {
        $('.money').mask('000.000.000.000.000,00', {reverse: true});
        $('.time').mask('00:00:00');
    })
</script>