.search {
    background-color: #F6F9FF !important;
}

.search:active {
    background-color: #F6F9FF !important;
}

/* BARBESRIA */

.barbeBody{
    background-color: #121b22 !important;
}

.barbeHeader{
    background-color: #1f2c34 !important;
    box-shadow: 0px 2px 20px rgba(255, 255, 255, 0.082);
}

.barbeText{
    color: #fff !important;
}

.barbeSidebar{
    background-color: #1f2c34 !important;
}
.barbeSidebar .sidebar-nav .nav-link .collapsed{
    background-color: #1f2c34 !important;
}

.barbeSidebar .sidebar-nav .nav-link {
    background-color: #1f2c34 !important;
}
.barbeSidebar .sidebar-nav .nav-link .collapsed:hover{
    background-color: #2b3942 !important;
}

.barbeSidebar .sidebar-nav .nav-link:hover{
    background-color: #2b3942 !important;
}

.barbeCard{
    background-color: #1f2c34 !important;
}

/* MANICURE */

.manicureHeader{
    background-color: #88778C !important;
    box-shadow: 0px 2px 20px rgba(255, 255, 255, 0.082);
}

.manicureSidebar{
    background-color: #88778C !important;
}

.manicureSidebar .sidebar-nav .nav-link{
    background-color: #88778C !important;
}

.manicureBody{
    background-color: #635766 !important;
}

.manicureText{
    color: #fff !important;
}
