.search {
    background-color: #F6F9FF !important;
}

.search:active {
    background-color: #F6F9FF !important;
}

/* .pagee {
    background-color: #F6F9FF !important;
}

.pagee:disabled {
    background-color: #F6F9FF !important;
} */