<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/imports :: head('Login')}"></head>

<body>
    <main>
        <div class="container">
            <section
                class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-1">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-3">
                                <a href="index.html" class="logo d-flex align-items-center w-auto">
                                    <img src="assets/img/logo.png" alt="">
                                    <span>Agendador</span>
                                </a>
                            </div>

                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="pt-2 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Login</h5>
                                        <p class="text-center small">Insira seu Email e Senha</p>
                                        <div id="alertInvalid" class="alert alert-danger d-none text-center"
                                            role="alert">
                                            email/senha inválido
                                        </div>
                                    </div>

                                    <form id="login" class="row g-3 needs-validation" novalidate>
                                        <div class="col-12">
                                            <label for="email" class="form-label">Email</label>
                                            <div class="input-group has-validation">
                                                <input type="text" name="email" class="form-control" id="email"
                                                    required>
                                                <div class="invalid-feedback">Por favor insira seu
                                                    <strong>email</strong> cadastrado no sistema
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="password" class="form-label">Senha</label>
                                            <input type="password" name="password" class="form-control" id="password"
                                                required>
                                            <div class="invalid-feedback">Por favor insira sua <strong>senha</strong>
                                                cadastrada no sistema</div>
                                        </div>
                                        <div class="col-12 py-2">
                                            <div class="form">
                                                <input class="form-input" type="checkbox" name="remember" id="remember">
                                                <label class="form-label" for="remember">Lembre-se de
                                                    mim</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">Entrar</button>
                                        </div>

                                        <div class="col-md-12">
                                            <p class="text-center small">Ou entre com a sua conta do:</p>
                                        </div>
                                        <div class="col-12 mt-0">
                                            <a class="btn btn-danger w-100 bi bi-google" type="button"
                                                th:href="@{/mainClient}"></a>
                                        </div>
                                        <div class="col-12">
                                            <a class="btn btn-primary w-100 bi bi-facebook" type="button"
                                                th:href="@{/mainClient}"></a>
                                        </div>
                                        <div class="col-12">
                                            <p class="small mb-0">Você ainda não tem uma conta?
                                                <a th:href="@{/registerClient}">Criar Conta</a>
                                            </p>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="credits">
                                Designed by <a href="https://bootstrapmade.com/">Mel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <div th:replace="~{fragments/imports :: scripts}"></div>
    <script>
        $(() => {
            let remember = localStorage.getItem('loginClient')
            if (remember !== null) {
                window.location.href = '/mainClient?id=' + remember
            }

            var form = document.querySelector('#login');
            form.addEventListener("submit", e => {
                e.preventDefault();
                var data = {
                    email: $("#email").val(),
                    password: $("#password").val(),
                    remember: $("#remember").is(':checked')
                }

                $.ajax({
                    type: "POST",
                    url: "/loginClient",
                    data: data,
                    success: res => {
                        if (res.remember) {
                            localStorage.setItem('loginClient', res.id)
                        }
                        window.location.href = '\/mainClient?id=' + res.id

                    },
                    error: err => {
                        $("#alertInvalid").removeClass("d-none")
                    }
                })
            })
        })
    </script>
</body>

</html>